body {
    max-width: 1128px;
    margin: 0 auto; 
    padding: 0;
}

ul{
    padding: 0;
}


.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 25px; /* Проміжок між рядами */
}

.gallery-item {
    width: calc(33.33% - 8px); /* Ширина 33.33% від батьківського елемента з відступом 8px між елементами */
    margin-bottom: 25px;
    list-style: none;
}

.gallery-item img {
    width: 360px; /* Початкова ширина зображення */
    height: 200px; /* Початкова висота зображення */
    transition: transform 0.3s ease;
}

.gallery-image:hover {
    
    transform: scale(1.05); /* Збільшуємо масштаб при ховері */
}